.board{
    background-color: green;
    width: 1200px;
    height: 1200px;
    display: grid;
    grid-gap: 2% 2%;
    grid-template-columns: 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
}