@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

.board{
    width: 80%;
    height: 80%;
    bottom: 5%;
    left: 10%;
    position: absolute;
    display: grid;
    grid-gap: 2% 2%;
    grid-template-columns: 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
}

.container{
    width: 800px;
    height: 800px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/watercolor.png');
}
.text{
    font-family: 'Quicksand';
    font-size: 50px;
    font-weight: bolder;
    color: aliceblue;
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
    width: fit-content;
    padding: 15px;
    position: relative;
    top: 2%;
    left: 22%;
}

.frontCard{
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    backface-visibility: hidden;
    background-image: url('images/happy.png'), url('images/front.jpeg');
    background-color: #ffc728;
    background-size: 100% 100%;
    border: 10px solid white;
}
.endText {
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 15%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    color: aliceblue;
}